/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header, nav, h2, .main-visual, footer{
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
.lp {
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

header {
  width: 90%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
footer {
  height: 120px;
  line-height: 120px;
  background-color: #848282;
}
.instagram-box {
  width: 110px;
  padding-top: 110px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.instagram-box:nth-child(odd) {
  margin-right: 10px;
}
.instagram-box:nth-child(1) {
  background-image: url(img/airport.jpg);
}
.instagram-box:nth-child(2) {
  background-image: url(img/japan.jpg);
}
.instagram-box:nth-child(3) {
  background-image: url(img/snow.jpg);
}
.instagram-box:nth-child(4) {
  background-image: url(img/japan2.jpg);
}
.instagram-box:nth-child(5) {
  background-image: url(img/lake.jpg);
}
.instagram-box:nth-child(6) {
  background-image: url(img/road.jpg);
}